<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <title>Pagal kainą</title>
    </h:head>
    <h:body>
        #{membersController.getMemberLoginStatus(2)}
        <h1>Paieška pagal kainą</h1>
        <br/>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="Įveskite vasarnamio kainą:"/>
                <h:inputText id="priceField" binding="#{priceFieldBinding}" required="true" requiredMessage="Įveskite vasarnamio kainą"/>
            </h:panelGrid>
            <h:commandButton value="Ieškoti" action="filteredSummerHouses/byPrice" style="height:30px;width:337px"/>
        </h:form>
        <br />
        <h:form>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
        </h:form>
        <h:form styleClass="jsfcrud_list_form">
            <h:panelGroup>
                <h:dataTable value="#{summerHousesController.filterByPrice(priceFieldBinding.value)}" var="sh" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" columnClasses="customWidth2,customWidth2,customWidth2,customWidth2,customWidth2,customWidth2,customWidth2" rules="all" style="border:solid 1px" >
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Pavadinimas"/>
                        </f:facet>
                        <h:outputText value="#{sh.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Numeris"/>
                        </f:facet>
                        <h:outputText value="#{sh.number}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Vietų skaičius"/>
                        </f:facet>
                        <h:outputText value="#{sh.maxGuests}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Naudojamas nuo"/>
                        </f:facet>
                        <h:outputText value="#{sh.availableFrom}">
                            <f:convertDateTime pattern="yyyy-MM-dd" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Naudojamas iki"/>
                        </f:facet>
                        <h:outputText value="#{sh.availableTo}">
                            <f:convertDateTime pattern="yyyy-MM-dd" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Kaina"/>
                        </f:facet>
                        <h:outputText value="#{sh.price}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                       </f:facet>
                       <h:commandButton value="Rezervuoti" action="/oneHouse" actionListener="#{summerHousesController.toHtml(sh.id)}" style="width:150px"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>   
            <br/>
            <h:commandButton value="Pagrindinis puslapis" action="/homePage/home" style="height: 30px;width:337px"/>
        </h:form>
    </h:body>
</html>
