<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Mano profilis</title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>

    <h:body>
        #{membersController.getMemberLoginStatus(1)}
        <h1>
            Mano profilis
        </h1>
        <h:form>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
        </h:form>
        <div>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Vardas" for="name" />
                    <h:inputText id="name" value="#{membersController.selected.name}" title="#{resources.EditMembersTitle_name}" />
                    <h:outputLabel value="Pavardė" for="surname" />
                    <h:inputText id="surname" value="#{membersController.selected.surname}" title="#{resources.EditMembersTitle_surname}" />
                    <h:outputLabel value="El. paštas" for="email" />
                    <h:inputText id="email" value="#{membersController.selected.email}" title="#{resources.EditMembersTitle_email}">
                        <f:validator validatorId="emailValidator" />
                    </h:inputText>

                </h:panelGrid>
                <h:panelGrid columns="2">
                    <h:commandButton action="#{membersController.updateProfile()}" value="Išsaugoti" style="width:115px;height:30px"/>
                    <h:commandButton value="Atsijungti" actionListener="#{membersController.disconnect()}" action="/index_1" style="width:115px;height:30px"/>
                </h:panelGrid>
                <h:commandButton value="Išregistruoti" action="#{membersController.destroyMember(membersController.selected)}" style="width:242px;height:30px"/>                
            </h:form>
            <br/>
            <h:form style="#{membersController.dontShowIfMember()}">                
                <h:outputText value="Risistatykite!"/>
                <br/>
                <h:inputTextarea binding="#{presentationBinding}" style="width:240px;height:100px"/>
                <br/>
                <br/>
                <h:outputText value="Įveskite nario el. paštą:"/>
                <br/>
                <h:inputText binding="#{memberEmail}" style="width:242px">
                    <f:validator validatorId="emailValidator"/>
                </h:inputText>
                <br/>
                <br/>
                <h:commandButton value="Siųsti patvirtinimo prašymą" action="#{emailGenerator.sendRequestEmail(membersController.currentMember, presentationBinding.value, memberEmail.value)}" style="height:30px;width:242px"/>
            </h:form>
            <br/>
            <h:form>
                <h:commandButton style="#{membersController.dontShowIfCandidate()};height:30px;width:242px" value="Pagrindinis puslapis" action="/homePage/home" />
            </h:form>
        </div>
    </h:body>
</html>
