<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>#{membersController.getProfileName()} profilis</title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>

    <h:body>
        #{membersController.getMemberLoginStatus(2)}
        <h1>#{membersController.getProfileName()} profilis </h1>
        <div>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Vardas" for="name" />
                    <h:outputText id="name" value="#{membersController.getProfileName()}" title="#{resources.EditMembersTitle_name}" />
                    <h:outputLabel value="Pavardė" for="surname" />
                    <h:outputText id="surname" value="#{membersController.getProfileSurName()}" title="#{resources.EditMembersTitle_surname}"/>
                    <h:outputLabel value="El. paštas" for="email" />
                    <h:outputText id="email" value="#{membersController.getProfileEmail()}" title="#{resources.EditMembersTitle_email}"/>
                </h:panelGrid>
                <h:commandButton value="Pagrindinis puslapis" action="/homePage/home" style="height:30px; width:200px"/>       
            </h:form>
        </div>
    </h:body>
</html>
