<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Pagrindinis Puslapis</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        #{membersController.getMemberLoginStatus(2)}
        <h1>Pagrindinis puslapis</h1>
        <h:form>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
        </h:form>
        <h:form styleClass="buttons">
            <h:panelGrid columns="5">
                <h:commandButton value="Vasarnamiai" action="/summerHouses" style="height:30px;width:200px;text-align:center"/>
                <h:commandButton value="Mano profilis" action="/profile/profile" style="height:30px;width:200px;text-align:center"/>
                <h:commandButton value="Sumokėti metinį mokestį" actionListener="#{membersController.payAnnualPayment()}" action="/homepage/home" style="height:30px;width:200px;text-align:center"/>
                <h:commandButton value="Klubo nariai" action="/members" style="height:30px;width:200px;text-align:center"/>
                <h:commandButton value="Atsijungti" actionListener="#{membersController.disconnect()}" action="/index_1" style="height:30px;width:200px;text-align:center;"/>
                <h:commandButton value="Administratoriaus meniu" action="/configurations/List" style="#{membersController.dontShowIfNotAdmin()};height:30px;width:200px;text-align:center;"/>
            </h:panelGrid>
            <br/>
            <h:outputText value="Sveikas #{membersController.getCurrentMember().name} #{membersController.getCurrentMember().surname}"/>
            <br/>
            <h:outputText value="Klubo nario taskai: #{membersController.getCurrentMember().points}"/>
            <br/>
            <h:outputText value="Klubo nario statusas galioja iki:  #{membersController.getCurrentMember().membersDate}"/>
        </h:form>
        <h2>Rezervacijos</h2>   
        <h:form styleClass="jsfcrud_list_form">
            <h:outputText escape="false" value="Rezervacijų neturite." rendered="#{reservationsController.listReservations(membersController.currentMember).size() == 0}"/>
            <br/>
            <h:panelGroup rendered="#{reservationsController.listReservations(membersController.currentMember).size() > 0}">
                <h:dataTable value="#{reservationsController.listReservations(membersController.currentMember)}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" columnClasses="customWidth,customWidth,customWidth,customWidth,customWidth,customWidth" rules="all" style="border:solid 1px">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Vasarnamis" />
                        </f:facet>
                        <h:outputText value="#{item.summerHousesId.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Nuo"/>
                        </f:facet>
                        <h:outputText value="#{item.reservationFromDate}">
                            <f:convertDateTime pattern="yyyy-MM-dd" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Iki"/>
                        </f:facet>
                        <h:outputText value="#{item.reservationToDate}">
                            <f:convertDateTime pattern="yyyy-MM-dd" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Papildomos paslaugos"/>
                        </f:facet>
                        <h:outputText value="#{item.additionalServicesId.title}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                        </f:facet>
                        <h:outputText value="Apmokėta" rendered="#{reservationsController.isPaid(item)}" style="text-align: center"/>
                        <h:commandButton value="Apmokėti" action="#{paymentsController.payForReservation(item)}" style="width: 200px" rendered="#{reservationsController.isPaid(item) == false}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                        </f:facet>                     
                        <h:commandButton value="Atšaukti" action="#{reservationsController.cancelReservation(item)}" style="width: 200px" rendered="#{reservationsController.isPaid(item) == false}"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
            <h2>Kandidatai</h2>
            <h:outputText escape="false" value="Šiuo metu kandidatų nėra." rendered="#{membersController.filterCandidates().size() == 0}"/>
            <h:panelGroup rendered="#{membersController.filterCandidates().size() > 0}">
                <h:dataTable value="#{membersController.filterCandidates()}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" columnClasses="customWidth,customWidth,customWidth,customWidth,customWidth" rules="all" style="border:solid 1px">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Vardas"/>
                        </f:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Pavardė"/>
                        </f:facet>
                        <h:outputText value="#{item.surname}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="El. Paštas"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                        </f:facet>
                        <h:commandButton value="Patvirtinti" action="/homePage/home" actionListener="#{membersController.confirmCandidate(item.id)}" style="width: 200px"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                        </f:facet>
                        <h:commandButton value="Atšaukti" action="/homePage/home" style="width: 200px"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
        </h:form>
        <br/>
        <h:form>
            <h:outputText value="El. Paštas: "/>
            <h:inputText id="emailField" binding="#{emailBinding}" required="true" requiredMessage="Įveskite el. paštą.">
                <f:validator validatorId="emailValidator"/>
            </h:inputText>
            <br/>
            <h:commandButton value="Siųsti pakvietimą" action="#{emailGenerator.sendEmail(emailBinding.value, 0)}" style="height:30px;width:242px"/>
        </h:form>
    </h:body>
</html>
