<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.EditAdditionalServicesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{resources.EditAdditionalServicesLabel_title}" for="title" />
                    <h:inputText id="title" value="#{additionalServicesController.selected.title}" title="#{resources.EditAdditionalServicesTitle_title}" />
                    <h:outputLabel value="#{resources.EditAdditionalServicesLabel_price}" for="price" />
                    <h:inputText id="price" value="#{additionalServicesController.selected.price}" title="#{resources.EditAdditionalServicesTitle_price}" />
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{additionalServicesController.update}" value="#{resources.EditAdditionalServicesSaveLink}"/>
                        </td>
                        <td>
                            <h:button outcome="View" value="#{resources.EditAdditionalServicesViewLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{additionalServicesController.prepareList}" value="#{resources.EditAdditionalServicesShowAllLink}" immediate="true"/>
                        </td>
                        <td>
                            <h:button outcome="/index" value="#{resources.EditAdditionalServicesIndexLink}"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
