<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ListAdditionalServicesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{resources.ListAdditionalServicesEmpty}" rendered="#{additionalServicesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{additionalServicesController.items.rowCount > 0}">
                    <h:outputText value="#{additionalServicesController.pagination.pageFirstItem + 1}..#{additionalServicesController.pagination.pageLastItem + 1}/#{additionalServicesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{additionalServicesController.previous}" value="#{resources.Previous} #{additionalServicesController.pagination.pageSize}" rendered="#{additionalServicesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{additionalServicesController.next}" value="#{resources.Next} #{additionalServicesController.pagination.pageSize}" rendered="#{additionalServicesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{additionalServicesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListAdditionalServicesTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListAdditionalServicesTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandButton action="#{additionalServicesController.prepareView}" value="#{resources.ListAdditionalServicesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandButton action="#{additionalServicesController.prepareEdit}" value="#{resources.ListAdditionalServicesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandButton action="#{additionalServicesController.destroy}" value="#{resources.ListAdditionalServicesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{additionalServicesController.prepareCreate}" value="#{resources.ListAdditionalServicesCreateLink}"/>
                        </td>
                        <td>
                            <h:button outcome="/index" value="#{resources.ListAdditionalServicesIndexLink}"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
