<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ViewAdditionalServicesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{resources.ViewAdditionalServicesLabel_title}"/>
                    <h:outputText value="#{additionalServicesController.selected.title}" title="#{resources.ViewAdditionalServicesTitle_title}"/>
                    <h:outputText value="#{resources.ViewAdditionalServicesLabel_price}"/>
                    <h:outputText value="#{additionalServicesController.selected.price}" title="#{resources.ViewAdditionalServicesTitle_price}"/>
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{additionalServicesController.destroyAndView}" value="#{resources.ViewAdditionalServicesDestroyLink}"/>
                        </td>
                        <td>
                            <h:button outcome="Edit" value="#{resources.ViewAdditionalServicesEditLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{additionalServicesController.prepareCreate}" value="#{resources.ViewAdditionalServicesCreateLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{additionalServicesController.prepareList}" value="#{resources.ViewAdditionalServicesShowAllLink}"/>
                        </td>
                        <td>
                            <h:button outcome="/index" value="#{resources.ViewAdditionalServicesIndexLink}"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
