<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Priskirti taškus"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{resources.EditMembersLabel_name}" for="name" />
                    <h:outputText id="name" value="#{membersController.selectedMember.name}" title="#{resources.EditMembersTitle_name}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_surname}" for="surname" />
                    <h:outputText id="surname" value="#{membersController.selectedMember.surname}" title="#{resources.EditMembersTitle_surname}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_email}" for="email" />
                    <h:outputText id="email" value="#{membersController.selectedMember.email}" title="#{resources.EditMembersTitle_email}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_type}" for="type" />
                    <h:outputText id="type" value="#{membersController.selectedMember.type}" title="#{resources.EditMembersTitle_type}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_points}" for="points" />
                    <h:outputText id="points" value="#{membersController.selectedMember.points}" title="#{resources.EditMembersTitle_points}" />
                    <h:outputLabel value="Pridėti taškų" for="points" />
                    <h:inputText id="AdditionalPoints" value="#{membersController.additionalPoints}" title="Pridėti taškų" />
                </h:panelGrid>
                <br></br>
                <br></br>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton  action="#{membersController.updateAdmin}" value="Priskirti"/>
                        </td>
                        <td>
                            <h:commandButton action="#{membersController.prepareListAdmin}" value="Grįžti" immediate="true"/>
                        </td>
                       
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
