<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.EditMembersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{resources.EditMembersLabel_name}" for="name" />
                    <h:inputText id="name" value="#{membersController.selected.name}" title="#{resources.EditMembersTitle_name}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_surname}" for="surname" />
                    <h:inputText id="surname" value="#{membersController.selected.surname}" title="#{resources.EditMembersTitle_surname}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_email}" for="email" />
                    <h:inputText id="email" value="#{membersController.selected.email}" title="#{resources.EditMembersTitle_email}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_type}" for="type" />
                    <h:inputText id="type" value="#{membersController.selected.type}" title="#{resources.EditMembersTitle_type}" />
                    <h:outputLabel value="#{resources.CreateMembersLabel_facebookId}" for="facebookId" />
                    <h:inputText id="facebookId" value="#{membersController.selected.facebookId}" title="#{resources.CreateMembersTitle_facebookId}" />
                    <h:outputLabel value="#{resources.EditMembersLabel_points}" for="points" />
                    <h:inputText id="points" value="#{membersController.selected.points}" title="#{resources.EditMembersTitle_points}" />
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton  action="#{membersController.update}" value="#{resources.EditMembersSaveLink}"/>
                        </td>
                        <td>
                            <h:button outcome="View" value="#{resources.EditMembersViewLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{membersController.prepareList}" value="#{resources.EditMembersShowAllLink}" immediate="true"/>
                        </td>
                        <td>
                            <h:button  outcome="/index" value="#{resources.EditMembersIndexLink}"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
