<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ListMembersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{resources.ListMembersEmpty}" rendered="#{membersController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{membersController.items.rowCount > 0}">
                    <h:outputText value="#{membersController.pagination.pageFirstItem + 1}..#{membersController.pagination.pageLastItem + 1}/#{membersController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{membersController.previous}" value="#{resources.Previous} #{membersController.pagination.pageSize}" rendered="#{membersController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{membersController.next}" value="#{resources.Next} #{membersController.pagination.pageSize}" rendered="#{membersController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{membersController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListMembersTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListMembersTitle_surname}"/>
                            </f:facet>
                            <h:outputText value="#{item.surname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListMembersTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListMembersTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListMembersTitle_facebookId}"/>
                            </f:facet>
                            <h:outputText value="#{item.facebookId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListMembersTitle_points}"/>
                            </f:facet>
                            <h:outputText value="#{item.points}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="priorityGroup"/>
                            </f:facet>
                            <h:outputText value="#{item.priorityGroup}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{membersController.prepareView}" value="#{resources.ListMembersViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{membersController.prepareEdit}" value="#{resources.ListMembersEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{membersController.destroy}" value="#{resources.ListMembersDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                 <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{membersController.prepareCreate}" value="#{resources.ListMembersCreateLink}"/>
                        </td>
                        <td>
                            <h:button outcome="/index" value="#{resources.ListMembersIndexLink}"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
