<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ListMembersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{resources.ListMembersEmpty}" rendered="#{membersController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{membersController.items.rowCount > 0}">
                    <h:outputText value="#{membersController.pagination.pageFirstItem + 1}..#{membersController.pagination.pageLastItem + 1}/#{membersController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{membersController.previous}" value="#{resources.Previous} #{membersController.pagination.pageSize}" rendered="#{membersController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{membersController.next}" value="#{resources.Next} #{membersController.pagination.pageSize}" rendered="#{membersController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{membersController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Vardas"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Pavardė"/>
                            </f:facet>
                            <h:outputText value="#{item.surname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="El. paštas"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Taškų skaičius"/>
                            </f:facet>
                            <h:outputText value="#{item.points}">
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Prioritetas"/>
                            </f:facet>
                            <h:outputText value="#{item.priorityGroup}">
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandButton action="#{membersController.prepareEditAdmin(item)}" value="Priskirti taškus"/>
                            <h:outputText value=" "/>
                            <h:commandButton action="#{membersController.destroyAdmin(item)}" value="Pašalinti"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br></br>
                <br></br>
                 <table class="form-buttons">
                    <tr>
                        <td>
                            <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
