<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.CreatePaymentsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{resources.CreatePaymentsLabel_paymentDate}" for="paymentDate" />
                    <h:inputText id="paymentDate" value="#{paymentsController.selected.paymentDate}" title="#{resources.CreatePaymentsTitle_paymentDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{resources.CreatePaymentsLabel_payedAmount}" for="payedAmount" />
                    <h:inputText id="payedAmount" value="#{paymentsController.selected.payedAmount}" title="#{resources.CreatePaymentsTitle_payedAmount}" />
                    <h:outputLabel value="#{resources.CreatePaymentsLabel_isConfirmed}" for="isConfirmed" />
                    <h:inputText id="isConfirmed" value="#{paymentsController.selected.isConfirmed}" title="#{resources.CreatePaymentsTitle_isConfirmed}" />
                    <h:outputLabel value="#{resources.CreatePaymentsLabel_optLockVersion}" for="optLockVersion" />
                    <h:inputText id="optLockVersion" value="#{paymentsController.selected.optLockVersion}" title="#{resources.CreatePaymentsTitle_optLockVersion}" />
                    <h:outputLabel value="#{resources.CreatePaymentsLabel_membersId}" for="membersId" />
                    <h:selectOneMenu id="membersId" value="#{paymentsController.selected.membersId}" title="#{resources.CreatePaymentsTitle_membersId}" >
                        <f:selectItems value="#{membersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{resources.CreatePaymentsLabel_reservationId}" for="reservationId" />
                    <h:selectOneMenu id="reservationId" value="#{paymentsController.selected.reservationId}" title="#{resources.CreatePaymentsTitle_reservationId}" >
                        <f:selectItems value="#{reservationsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{paymentsController.create}" value="#{resources.CreatePaymentsSaveLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{paymentsController.prepareList}" value="#{resources.CreatePaymentsShowAllLink}" immediate="true"/>
                        </td>
                        <td>
                            <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
