<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ListPaymentsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{resources.ListPaymentsEmpty}" rendered="#{paymentsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{paymentsController.items.rowCount > 0}">
                    <h:outputText value="#{paymentsController.pagination.pageFirstItem + 1}..#{paymentsController.pagination.pageLastItem + 1}/#{paymentsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{paymentsController.previous}" value="#{resources.Previous} #{paymentsController.pagination.pageSize}" rendered="#{paymentsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{paymentsController.next}" value="#{resources.Next} #{paymentsController.pagination.pageSize}" rendered="#{paymentsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{paymentsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListPaymentsTitle_paymentDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.paymentDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListPaymentsTitle_payedAmount}"/>
                            </f:facet>
                            <h:outputText value="#{item.payedAmount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListPaymentsTitle_isConfirmed}"/>
                            </f:facet>
                            <h:outputText value="#{item.isConfirmed}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListPaymentsTitle_optLockVersion}"/>
                            </f:facet>
                            <h:outputText value="#{item.optLockVersion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListPaymentsTitle_membersId}"/>
                            </f:facet>
                            <h:outputText value="#{item.membersId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListPaymentsTitle_reservationId}"/>
                            </f:facet>
                            <h:outputText value="#{item.reservationId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{paymentsController.prepareView}" value="#{resources.ListPaymentsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{paymentsController.confirmPayment}" value="Patvirtinti"/>
                            
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br></br>
                <br></br>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
