<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ViewPaymentsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{resources.ViewPaymentsLabel_paymentDate}"/>
                    <h:outputText value="#{paymentsController.selected.paymentDate}" title="#{resources.ViewPaymentsTitle_paymentDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{resources.ViewPaymentsLabel_payedAmount}"/>
                    <h:outputText value="#{paymentsController.selected.payedAmount}" title="#{resources.ViewPaymentsTitle_payedAmount}"/>
                    <h:outputText value="#{resources.ViewPaymentsLabel_isConfirmed}"/>
                    <h:outputText value="#{paymentsController.selected.isConfirmed}" title="#{resources.ViewPaymentsTitle_isConfirmed}"/>
                    <h:outputText value="#{resources.ViewPaymentsLabel_optLockVersion}"/>
                    <h:outputText value="#{paymentsController.selected.optLockVersion}" title="#{resources.ViewPaymentsTitle_optLockVersion}"/>
                    <h:outputText value="#{resources.ViewPaymentsLabel_membersId}"/>
                    <h:outputText value="#{paymentsController.selected.membersId}" title="#{resources.ViewPaymentsTitle_membersId}"/>
                    <h:outputText value="#{resources.ViewPaymentsLabel_reservationId}"/>
                    <h:outputText value="#{paymentsController.selected.reservationId}" title="#{resources.ViewPaymentsTitle_reservationId}"/>
                </h:panelGrid>
                 <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{paymentsController.destroyAndView}" value="#{resources.ViewPaymentsDestroyLink}"/>
                        </td>
                        <td>
                            <h:button outcome="Edit" value="#{resources.ViewPaymentsEditLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{paymentsController.prepareCreate}" value="#{resources.ViewPaymentsCreateLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{paymentsController.prepareList}" value="#{resources.ViewPaymentsShowAllLink}"/>
                        </td>
                        <td>
                            <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
