<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <title>Atostogaujantys nariai</title>
    </h:head>
    <h:body>
        <h1>Atostogaujančių narių paieška</h1>
        <br/>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="Įveskite atostogų pradžią:"/>
                <h:inputText id="fromField" binding="#{fromFieldBinding}" required="true" requiredMessage="Įveskite pradžios datą">
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                    <f:validator validatorId="mondayValidator"/>
                </h:inputText>
                <h:outputText value="Įveskite atostogų pabaigą:"/>
                <h:inputText id="toField" binding="#{toFieldBinding}" required="true" requiredMessage="Įveskite pabaigos datą">
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                    <f:validator validatorId="sundayValidator"/>
                </h:inputText>
            </h:panelGrid>
            <h:commandButton value="Ieškoti" action="memberFilter/membersByDate" style="height:30px;width: 350px"/>
        </h:form>
        <br/>
        <h:form>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
        </h:form>
        <h:form styleClass="jsfcrud_list_form">
            <h:panelGroup>
                <h:dataTable value="#{reservationsController.filterMembersByDate(fromFieldBinding.value, toFieldBinding.value)}" var="memb" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" columnClasses="customWidth, customWidth, customWidth" rules="all" style="border:solid 1px" >
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Vardas"/>
                        </f:facet>
                        <h:outputText value="#{memb.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Pavardė"/>
                        </f:facet>
                        <h:outputText value="#{memb.surname}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="El. paštas"/>
                        </f:facet>
                        <h:outputText value="#{memb.email}"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
            <br/>
            <h:commandButton value="Pagrindinis puslapis" action="/homePage/home" style="height: 30px;width:350px"/>
        </h:form>
    </h:body>
</html>