<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditConfigurationsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditConfigurationsLabel_name}" for="name" />
                    <h:outputText id="name" value="#{configurationsController.selected.name}" title="#{bundle.EditConfigurationsTitle_name}" />
                    <h:outputLabel value="#{bundle.EditConfigurationsLabel_value}" for="value" />
                    <h:inputText id="value" value="#{configurationsController.selected.value}" title="#{bundle.EditConfigurationsTitle_value}" />
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton  action="#{configurationsController.update}" value="#{bundle.EditConfigurationsSaveLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{configurationsController.prepareList}" value="#{bundle.EditConfigurationsShowAllLink}" immediate="true"/>
                        </td>
                        <td>
                            <h:button  outcome="/index" value="#{bundle.EditConfigurationsIndexLink}"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
