<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListConfigurationsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:form styleClass="jsfcrud_list_form">
                
                <br></br>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <br></br>
                <br></br>
                <h:outputText value="Administratoriaus veiksmai:"/>
                <br></br>
                <br></br>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{configurationsController.enableReservations()}" value="Aktyvuoti rezervacijas"/>
                        </td>
                        <td>
                            <h:outputText value="Nustatoma rezervavimo pradžios ir pabaigos datos pagal vasarnamių darbo laiką, perkraunami vartotojų prioritetai"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <h:commandButton action="#{configurationsController.ResetPriorities}" value="Perkrauti priotitetus"/>
                        </td>
                        <td>
                            <h:outputText value="Perkraunami visi prioritetai priskirti vartotojams pagal ReservationGroupCount, ReservationsStartDate ir ReservationsEndDate "/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <h:commandButton action="#{configurationsController.manageSummerHouses}" value="Valdyti vasarnamius"/>
                        </td>
                        <td>
                            <h:outputText value="Vasarnamių sukūrimas, keitimas, ištrynimas"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <h:commandButton action="#{configurationsController.assignPointsForUsers}" value="Priskirti taškus vartotojams"/>
                        </td>
                        <td>
                            <h:outputText value="Vartotojų taškų paskirstymas"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <h:commandButton action="#{configurationsController.confirmPayments}" value="Mokejimu patvirtinimi"/>
                        </td>
                        <td>
                            <h:outputText value="Patvirtinti vartotojo mokėjimą"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:commandButton action="/homePage/home" value="#{bundle.ListConfigurationsIndexLink}"/>
                        </td>
                        <td></td>
                    </tr>
                
                </table>
                <br></br>
                <br></br>
                
                <h:outputText value="Configuraciniai parametrai:"/>
                <br></br>    
                
                
                <h:outputText escape="false" value="#{bundle.ListConfigurationsEmpty}" rendered="#{configurationsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{configurationsController.items.rowCount > 0}">
                   <h:dataTable value="#{configurationsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConfigurationsTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConfigurationsTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListConfigurationsTitle_value}"/>
                            </f:facet>
                            <h:outputText value="#{item.value}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{configurationsController.prepareEdit}" value="#{bundle.ListConfigurationsEditLink}"/>
                            <h:outputText value=" "/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
