<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.EditSummerHousesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{resources.EditSummerHousesLabel_name}" for="name" />
                    <h:inputText id="name" value="#{summerHousesController.selected.name}" title="#{resources.EditSummerHousesTitle_name}" />
                    <h:outputLabel value="#{resources.EditSummerHousesLabel_number}" for="number" />
                    <h:inputText id="number" value="#{summerHousesController.selected.number}" title="#{resources.EditSummerHousesTitle_number}" />
                    <h:outputLabel value="#{resources.EditSummerHousesLabel_maxGuests}" for="maxGuests" />
                    <h:inputText id="maxGuests" value="#{summerHousesController.selected.maxGuests}" title="#{resources.EditSummerHousesTitle_maxGuests}" />
                    <h:outputLabel value="#{resources.EditSummerHousesLabel_availableFrom}" for="availableFrom" />
                    <h:inputText id="availableFrom" value="#{summerHousesController.selected.availableFrom}" title="#{resources.EditSummerHousesTitle_availableFrom}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                        <f:validator validatorId="mondayValidator"/>
                    </h:inputText>
                    <h:outputLabel value="#{resources.EditSummerHousesLabel_availableTo}" for="availableTo" />
                    <h:inputText id="availableTo" value="#{summerHousesController.selected.availableTo}" title="#{resources.EditSummerHousesTitle_availableTo}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                        <f:validator validatorId="sundayValidator"/>
                    </h:inputText>
                    <h:outputLabel value="#{resources.EditSummerHousesLabel_price}" for="price" />
                    <h:inputText id="price" value="#{summerHousesController.selected.price}" title="#{resources.EditSummerHousesTitle_price}" />
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{summerHousesController.update}" value="#{resources.EditSummerHousesSaveLink}"/>
                        </td>
                        <td>
                            <h:button outcome="View" value="#{resources.EditSummerHousesViewLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{summerHousesController.prepareList}" value="#{resources.EditSummerHousesShowAllLink}" immediate="true"/>
                        </td>
                        <td>
                            <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
