<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ListSummerHousesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{resources.ListSummerHousesEmpty}" rendered="#{summerHousesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{summerHousesController.items.rowCount > 0}">
                    <h:outputText value="#{summerHousesController.pagination.pageFirstItem + 1}..#{summerHousesController.pagination.pageLastItem + 1}/#{summerHousesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{summerHousesController.previous}" value="#{resources.Previous} #{summerHousesController.pagination.pageSize}" rendered="#{summerHousesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{summerHousesController.next}" value="#{resources.Next} #{summerHousesController.pagination.pageSize}" rendered="#{summerHousesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{summerHousesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListSummerHousesTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListSummerHousesTitle_number}"/>
                            </f:facet>
                            <h:outputText value="#{item.number}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListSummerHousesTitle_maxGuests}"/>
                            </f:facet>
                            <h:outputText value="#{item.maxGuests}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListSummerHousesTitle_availableFrom}"/>
                            </f:facet>
                            <h:outputText value="#{item.availableFrom}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListSummerHousesTitle_availableTo}"/>
                            </f:facet>
                            <h:outputText value="#{item.availableTo}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListSummerHousesTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{summerHousesController.prepareView}" value="#{resources.ListSummerHousesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{summerHousesController.prepareEdit}" value="#{resources.ListSummerHousesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{summerHousesController.destroy}" value="#{resources.ListSummerHousesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{summerHousesController.prepareCreate}" value="#{resources.ListSummerHousesCreateLink}"/>
                        </td>
                        <td>
                           <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
