<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.CreateReservationsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{resources.CreateReservationsLabel_reservationFromDate}" for="reservationFromDate" />
                    <h:inputText id="reservationFromDate" value="#{reservationsController.selected.reservationFromDate}" title="#{resources.CreateReservationsTitle_reservationFromDate}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                        <f:validator validatorId="mondayValidator"/>
                    </h:inputText>
                    <h:outputLabel value="#{resources.CreateReservationsLabel_reservationToDate}" for="reservationToDate" />
                    <h:inputText id="reservationToDate" value="#{reservationsController.selected.reservationToDate}" title="#{resources.CreateReservationsTitle_reservationToDate}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                        <f:validator validatorId="sundayValidator"/>
                    </h:inputText>
                    <h:outputLabel value="#{resources.CreateReservationsLabel_additionalServicesId}" for="additionalServicesId" />
                    <h:selectOneMenu id="additionalServicesId" value="#{reservationsController.selected.additionalServicesId}" title="#{resources.CreateReservationsTitle_additionalServicesId}" >
                        <f:selectItems value="#{additionalServicesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{resources.CreateReservationsLabel_membersId}" for="membersId" />
                    <h:selectOneMenu id="membersId" value="#{reservationsController.selected.membersId}" title="#{resources.CreateReservationsTitle_membersId}" >
                        <f:selectItems value="#{membersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{resources.CreateReservationsLabel_summerHousesId}" for="summerHousesId" />
                    <h:selectOneMenu id="summerHousesId" value="#{reservationsController.selected.summerHousesId}" title="#{resources.CreateReservationsTitle_summerHousesId}" >
                        <f:selectItems value="#{summerHousesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{reservationsController.create}" value="#{resources.CreateReservationsSaveLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{reservationsController.prepareList}" value="#{resources.CreateReservationsShowAllLink}" immediate="true"/>
                        </td>
                        <td>
                           <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
