<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{resources.ViewReservationsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            #{membersController.getMemberLoginStatus(3)}
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                   <h:outputText value="#{resources.ViewReservationsLabel_reservationFromDate}"/>
                    <h:outputText value="#{reservationsController.selected.reservationFromDate}" title="#{resources.ViewReservationsTitle_reservationFromDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:outputText>
                    <h:outputText value="#{resources.ViewReservationsLabel_reservationToDate}"/>
                    <h:outputText value="#{reservationsController.selected.reservationToDate}" title="#{resources.ViewReservationsTitle_reservationToDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:outputText>
                    <h:outputText value="#{resources.ViewReservationsLabel_additionalServicesId}"/>
                    <h:outputText value="#{reservationsController.selected.additionalServicesId}" title="#{resources.ViewReservationsTitle_additionalServicesId}"/>
                    <h:outputText value="#{resources.ViewReservationsLabel_membersId}"/>
                    <h:outputText value="#{reservationsController.selected.membersId}" title="#{resources.ViewReservationsTitle_membersId}"/>
                    <h:outputText value="#{resources.ViewReservationsLabel_summerHousesId}"/>
                    <h:outputText value="#{reservationsController.selected.summerHousesId}" title="#{resources.ViewReservationsTitle_summerHousesId}"/>
                </h:panelGrid>
                <table class="form-buttons">
                    <tr>
                        <td>
                            <h:commandButton action="#{reservationsController.destroyAndView}" value="#{resources.ViewReservationsDestroyLink}"/>
                        </td>
                        <td>
                            <h:button outcome="Edit" value="#{resources.ViewReservationsEditLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{reservationsController.prepareCreate}" value="#{resources.ViewReservationsCreateLink}"/>
                        </td>
                        <td>
                            <h:commandButton action="#{reservationsController.prepareList}" value="#{resources.ViewReservationsShowAllLink}"/>
                        </td>
                        <td>
                            <h:button outcome="/configurations/List" value="Grįžti į administravimo puslapį"/>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
