<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Login</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>
    <h:body>
        <div id="fb-root"></div>
        <h1>
            <ui:insert name="title">Facebook Login</ui:insert>
        </h1>
        <script>

            // initialize and setup facebook js sdk
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1733849613564533',
                    xfbml: true,
                    version: 'v2.6'
                });
                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        document.getElementById('status').innerHTML = 'We are connected.';
                        console.log("connected");
                        getInfo();
                        document.getElementById('login').style.display = "none";
                        document.getElementById('disconnect').style.display = "block";
                        document.getElementById('home').style.display = "block";

                    } else if (response.status === 'not_authorized') {
                        document.getElementById('status').innerHTML = 'We are not logged in.';
                        console.log("not_authorized");
                        document.getElementById('login').style.display = "block";
                        document.getElementById('disconnect').style.display = "none";
                        document.getElementById('home').style.display = "none";
                    } else {
                        document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
                        console.log("else");
                        document.getElementById('login').style.display = "block";
                        document.getElementById('disconnect').style.display = "none";
                        document.getElementById('home').style.display = "none";
                    }
                });
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // login with facebook with extra permissions
            function login() {
                console.log("login");
                FB.login(function (response) {
                    debugger;
                    console.log("kas neveikia?");
                    if (response.status === 'connected') {
                        document.getElementById('status').innerHTML = 'We are connected.';
                        document.getElementById('login').style.display = "none";
                        document.getElementById('disconnect').style.display = "block";
                        document.getElementById('home').style.display = "block";
                        getInfo();
                    } else if (response.status === 'not_authorized') {
                        document.getElementById('status').innerHTML = 'We are not authorized to use this page in.';
                        document.getElementById('login').style.display = "block";
                        document.getElementById('disconnect').style.display = "none";
                        document.getElementById('home').style.display = "none";
                    } else {
                        console.log("else saka");
                        document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
                        document.getElementById('login').style.display = "block";
                        document.getElementById('disconnect').style.display = "none";
                        document.getElementById('home').style.display = "none";
                    }
                    console.log("kas vyksta");
                }, {scope: 'email'});
            }

            function disconnect() {
                FB.logout(function (response) {
                    document.getElementById('form').style.display = "none";
                    document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
                    document.getElementById('login').style.display = "block";
                    document.getElementById('disconnect').style.display = "none";
                    document.getElementById('home').style.display = "none";
                });
            }

            // getting basic user info
            function getInfo() {
                FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id'}, function (response) {
                    getMember([{name: 'param1', value: response.id}]);
                });
            }

            function getWelcome() {
                FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id'}, function (response) {
                    document.getElementById('status').innerHTML = "Welcome back " + response.first_name;
                    document.getElementById('home').style.display = "block";
                });
            }

            function getPersonInfo() {
                FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id,email'}, function (response) {
                    document.getElementById('form').style.display = "block";
                    document.getElementById('status').innerHTML = "Užpildykite anketą ir paspauskite išsaugoti";
                    document.getElementById('form:name').value = response.first_name;
                    document.getElementById('form:surname').value = response.last_name;
                    document.getElementById('form:email').value = response.email;
                    document.getElementById('form:facebookId').value = response.id;
                });
            }

            function getAnswer(xhr, status, args) {
                var obj = JSON.parse(args.chartData);
                document.getElementById('status').innerHTML = "Welcome";
                if (obj === "true1") {
                    console.log('scenarijus kai memeber prisijunge');
                    getWelcome();
                } else if (obj === "true0") {
                    console.log('scenarijus kai admin prisijunge');
                    getWelcome();
                } else if (obj === "true2") {
                    console.log('scenarijus kai kandidatas prisijunge');
                    getWelcome();
                } else {
                    console.log('scenarijus kai uzregistruojam kaip klienta');
                    getPersonInfo();
                }
            }
        </script>

        <h2>
            <div id="status"></div>
        </h2>
        <h:form id="form" style="display: none">
            <h:panelGrid columns="2">
                <h:outputLabel value="#{resources.CreateMembersLabel_name}" for="name" />
                <h:inputText id="name" value="#{membersController.selected.name}" title="#{resources.CreateMembersTitle_name}" />
                <h:outputLabel value="#{resources.CreateMembersLabel_surname}" for="surname" />
                <h:inputText id="surname" value="#{membersController.selected.surname}" title="#{resources.CreateMembersTitle_surname}" />
                <h:outputLabel value="#{resources.CreateMembersLabel_email}" for="email" />
                <h:inputText id="email" value="#{membersController.selected.email}" title="#{resources.CreateMembersTitle_email}">
                    <f:validator validatorId="emailValidator" />
                </h:inputText>
                <h:outputLabel value="#{resources.CreateMembersLabel_facebookId}" for="facebookId" style="display: none" />
                <h:inputText style="display: none" id="facebookId" value="#{membersController.selected.facebookId}" title="#{resources.CreateMembersTitle_facebookId}" />
            </h:panelGrid>
            <h:panelGrid columns="2">
                <h:commandButton action="#{membersController.createCandidate}" value="Issaugoti"/>
            </h:panelGrid>
        </h:form>

        <h:form id="test">
            <p:remoteCommand name="getMember"
                             action="#{membersController.getMember()}"
                             oncomplete="getAnswer(xhr, status, args);">
            </p:remoteCommand>
        </h:form>

        <h:commandButton id="login" onclick="login()" value="Prisijungti" style="display: none;height:30px; width:250px"/>
        <br/>
        <h:commandButton id="disconnect" onclick="disconnect()" value="Atsijungti" style="display: none;height:30px; width:250px"/>
        <br/>
        <h:form style="display: none" id="home">
            <h:commandButton value="Pagrindinis puslapis" action="/homePage/home" style="height:30px; width:250px"/>
        </h:form>
    </h:body>
</html>
