<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        #{membersController.getMemberLoginStatus(3)}
        Hello from Facelets
        <br />
        <h:link outcome="/additionalServices/List" value="Show All AdditionalServices Items"/>
        <br />
        <h:link outcome="/members/List" value="Show All Members Items"/>
        <br />
        <h:link outcome="/payments/List" value="Show All Payments Items"/>
        <br />
        <h:link outcome="/reservations/List" value="Show All Reservations Items"/>
        <br />
        <h:link outcome="/summerHouses/List" value="Show All SummerHouses Items"/>

        <br/>
        <h:form id="email_form">
            <br/>
            <br/>
            <h:outputText value="Email tests:"/>
            <br/>
            <h:inputText id="emailField" binding="#{emailBinding}" required="true" requiredMessage="Email field is required"/> 
            <br/>
            <h:commandButton value="Invitation Email test" action="#{emailGenerator.sendEmail(emailBinding.value, 0)}"/>
            <br/>
            <h:commandButton value="Confirmation Email test" action="#{emailGenerator.sendEmail(emailBinding.value, 1)}"/>
        </h:form>
        <br/>
        <h:form id="reservations_form">
            <h:outputLabel value="#{resources.CreateReservationsLabel_membersId}" for="membersId" />
            <h:selectOneMenu id="membersId" value="#{reservationsController.selectedMember}" title="#{resources.CreateReservationsTitle_membersId}" >
                <f:selectItems value="#{membersController.itemsAvailableSelectOne}"/>
            </h:selectOneMenu>
            <h:commandButton value="Reservations" action="/reservations"/>
        </h:form>
        <br/>
        <h:link outcome="/homePage/home" value="Home Page"/>
        <br/>

        <h:form id="FB_TEST">
            <h:commandButton value="FB login test" action="/index_1"/>
        </h:form>
        <br/>
        <br />
        <h:link outcome="/configurations/List" value="Show All Configurations Items"/>
    </h:body>

</html>

