<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Nariai</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        #{membersController.getMemberLoginStatus(2)}
        <h1>Nariai</h1>
        <h:form>
            <h:commandButton value="Patikrinti, kurie nariai atostogaus pasirinktu laikotarpiu" action="memberFilter/membersByDate" style="height:30px;width:350px;text-align:center"/>
        </h:form>
        <h:form id="membersForm" styleClass="jsfcrud_list_form">    
            <h:outputText escape="false" value="#{resources.ListMembersEmpty}" rendered="#{membersController.items.rowCount == 0}"/>
            <h:panelGroup rendered="#{membersController.filterMembers().size() > 0}">
                <h:outputText value="#{membersController.pagination.pageFirstItem + 1}..#{membersController.pagination.pageLastItem + 1}/#{membersController.pagination.itemsCount}"/>
                <h:commandLink action="#{membersController.previous}" value="#{resources.Previous} #{membersController.pagination.pageSize}" rendered="#{membersController.pagination.hasPreviousPage}"/>
                <h:commandLink action="#{membersController.next}" value="#{resources.Next} #{membersController.pagination.pageSize}" rendered="#{membersController.pagination.hasNextPage}"/>
                <h:dataTable value="#{membersController.filterMembers()}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" columnClasses="customWidth,customWidth,customWidth,customWidth" rules="all" style="border:solid 1px">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Vardas"/>
                        </f:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Pavardė"/>
                        </f:facet>
                        <h:outputText value="#{item.surname}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="El. Paštas"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                        </f:facet>
                        <h:commandButton value="Peržiūrėti profilį" action="/profile/profileOther" actionListener="#{membersController.setProfileMemberId(item.id)}" style="width: 200px"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
            <br/>
            <h:commandButton value="Pagrindinis puslapis" action="/homePage/home" style="height: 30px;width:350px"/>
        </h:form>
    </h:body>
</html>
