<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Rezervacija</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <h:outputText value="#{summerHousesController.htmlText}" escape="false"/>
        <br/>
        <br/>
        #{membersController.getMemberLoginStatus(2)}
        <!-- Is karto nusettinu summerHousesID i pasirinkta nama. Cia irgi reiketu paimt members ID pagal prisijungusi nari. Kolkas palieku select boxa-->
        #{reservationsController.selected.setSummerHousesId(summerHousesController.selectedHouse)}  
        #{reservationsController.selected.setMembersId(membersController.currentMember)}
        <h:panelGroup id="messagePanel" layout="block">
            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:form id="ms" onsubmit="return validateForm()">
            <h:panelGrid columns="2">
                <h:outputLabel value="Rezervuoti pradžios data:" for="reservationFromDate" />
                <h:inputText id="reservationFromDate" value="#{reservationsController.selected.reservationFromDate}" title="#{resources.CreateReservationsTitle_reservationFromDate}" required="true" requiredMessage="Įveskite pradžios datą." style="width: 200px">
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                    <f:validator validatorId="mondayValidator"/>
                </h:inputText>
                <h:outputLabel value="Rezervuoti pabaigos data:" for="reservationToDate" />
                <h:inputText id="reservationToDate" value="#{reservationsController.selected.reservationToDate}" title="#{resources.CreateReservationsTitle_reservationToDate}" required="true" requiredMessage="Įveskite pabaigos datą." style="width: 200px">
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                    <f:validator validatorId="sundayValidator"/>
                </h:inputText>
                <h:outputLabel value="Papildoma paslauga:" for="additionalServicesId" />
                <h:selectOneMenu id="additionalServicesId" value="#{reservationsController.selected.additionalServicesId}" title="#{resources.CreateReservationsTitle_additionalServicesId}" style="width: 200px">
                    <f:selectItems value="#{additionalServicesController.itemsAvailableSelectOne}"/>
                </h:selectOneMenu>
            </h:panelGrid>
            <h:commandButton value="Rezervuoti" action="#{reservationsController.customCreate(summerHousesController.selectedHouse, reservationsController.selected.reservationFromDate, reservationsController.selected.reservationToDate)}" style="height: 30px;width: 360px"/>
        </h:form>
        <br/>
        <h:form>
            <h:commandButton value="Pagrindinis puslapis" action="/homePage/home" style="height: 30px;width:360px"/>
        </h:form>
    </h:body>
</html>
