<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Vasarnamiai</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        #{membersController.getMemberLoginStatus(2)}
        <center>
            <br/>
            <h:form styleClass="jsfcrud_list_form">
            <h:panelGroup rendered="#{reservationsController.items.rowCount > 0}">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                <h:dataTable value="#{reservationsController.listReservations(reservationsController.selectedMember)}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px" >
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListReservationsTitle_reservationFromDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.reservationFromDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListReservationsTitle_reservationToDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.reservationToDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListReservationsTitle_additionalServicesId}"/>
                            </f:facet>
                            <h:outputText value="#{item.additionalServicesId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{resources.ListReservationsTitle_membersId}"/>
                            </f:facet>
                            <h:outputText value="#{item.membersId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value=""/>
                            </f:facet>
                            <h:commandButton value="Užmokėti" action="#{paymentsController.payForReservation(item)}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
        </h:form>
        </center>
    </h:body>
</html>
