<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Vasarnamiai</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        #{membersController.getMemberLoginStatus(2)}
        <h1>Vasarnamiai</h1>
        <br/>
        <h:form id="summerHouses_form">
            <h:panelGrid columns="4">
                <h:commandButton value="Paieška pagal pavadinimą" action="filteredSummerHouses/byName" style="height:30px;width:267px;text-align:center"/>
                <h:commandButton value="Paieška pagal vietų skaičių" action="filteredSummerHouses/byMaxGuests" style="height:30px;width:267px;text-align:center"/>
                <h:commandButton value="Paieška pagal kainą" action="filteredSummerHouses/byPrice" style="height:30px;width:267px;text-align:center"/>
                <h:commandButton value="Paieška pagal galimą rezervacijos datą" action="filteredSummerHouses/byAvailability" style="height:30px;width:267px;text-align:center"/>
            </h:panelGrid>
        </h:form>
        <h:form styleClass="jsfcrud_list_form">
            <br/>
            <h:panelGroup rendered="#{summerHousesController.items.rowCount > 0}">
                <h:outputText value="#{summerHousesController.pagination.pageFirstItem + 1}..#{summerHousesController.pagination.pageLastItem + 1}/#{summerHousesController.pagination.itemsCount}"/>
                <h:commandLink action="#{summerHousesController.previous}" value="#{resources.Previous} #{summerHousesController.pagination.pageSize}" rendered="#{summerHousesController.pagination.hasPreviousPage}"/>
                <h:commandLink action="#{summerHousesController.next}" value="#{resources.Next} #{summerHousesController.pagination.pageSize}" rendered="#{summerHousesController.pagination.hasNextPage}"/>
                <br/>
                <h:dataTable value="#{summerHousesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" columnClasses="customWidth2, customWidth2, customWidth2, customWidth2, customWidth2, customWidth2, customWidth2" rules="all" style="border:solid 1px" >
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Pavadinimas"/>
                        </f:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Numeris"/>
                        </f:facet>
                        <h:outputText value="#{item.number}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Vietų skaičius"/>
                        </f:facet>
                        <h:outputText value="#{item.maxGuests}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Naudojamas nuo"/>
                        </f:facet>
                        <h:outputText value="#{item.availableFrom}">
                            <f:convertDateTime pattern="yyyy-MM-dd" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Naudojamas iki"/>
                        </f:facet>
                        <h:outputText value="#{item.availableTo}">
                            <f:convertDateTime pattern="yyyy-MM-dd" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Kaina"/>
                        </f:facet>
                        <h:outputText value="#{item.price}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                       </f:facet>
                        <h:commandButton value="Rezervuoti" action="/oneHouse" actionListener="#{summerHousesController.toHtml(item.id)}" style="width:150px"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
            <br/>
            <h:commandButton value="Pagrindinis puslapis" action="/homePage/home" style="height: 30px;width:267px"/>
        </h:form>
    </h:body>
</html>
